
.admin-title-row {
    margin-bottom: 10px;
    margin-left: 5px;
}

.admin-item-form {
    margin-top: 7px;
}

.admin-cursor-pointer {
    cursor: pointer;
}

.admin-item-left {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 40px;
}

.admin-item-right {
    margin: 8px;
}

.admin.item-notification {
    padding-left: 0px;
    margin-left: 0px;
}

.admin-keys-title {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.admin-keys-title span {
    font-size: 15px;
}

.admin-detail-config {
    border: 1px solid #F0F0F0;
    padding: 0px;
    background-color: #F0F0F0;
}

.admin-detail-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}

.admin-detail-background {
    background-color: #FFF;
}

.admin-title {
    border-left: 1px solid #CCC;
    font-size: 18px;
    padding-left: 10px;
    margin-left: 15px;
}

.admin-tutorial-box {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: none;
}

.admin-tutorial-row {
    display: inline-block;
    margin-top: 15%;
}

.admin-tutorial-line {
    width: 100%;
}

.admin-tutorial-close {
    color: #DEDEDE;
    cursor: pointer;
}

.panel-body {
    background-color: #FFF;
}

.divisor {
    height: 1px;
    background-color: #F0F0F0;
    width: 100%;
    margin-bottom: 10px;
}

.warning {
    color: #8a6d3b;
    border: 1px solid #faebcc;
    background-color: #fcf8e3;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.alert {
    color: #a94442;
    border: 1px solid #ebccd1;
    background-color: #f2dede;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.admin-btn {
    margin: 0px 30px 20px 30px;
}

.buttons {
    margin: 20px 0;
}

.tab-pane {
    padding: 20px 10px 20px 10px;
}

.sync-title{
    margin: 20px 10px;
}

.pull-left {
    margin: 5px 5px;
}

