.mandae-tracking-info .tracking-progress-label {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
}

.mandae-tracking-info .code-label {
    font-size: 25px;
    font-style: oblique;
}

.mandae-tracking-info .sucess-event {
    font-size: 20px;
    font-style: italic;
    margin-top: 20px;
    padding: 15px;
    margin-bottom: 20px;
    border: 5px solid transparent;
    border-radius: 7px;
    color: #e65208;
    background-color: #f0f0f0;
}

.mandae-tracking-info .sucess-event td {
    text-align: center;
    padding: 15px;
}

.mandae-tracking-info .sucess-event th {
    padding-left: 45px;
}

.mandae-tracking-info .error-message {
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
    margin-top: 12px;
    padding: 45px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 7px;
    color: #e65208;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: content-box;
}


.mandae-tracking-info p, img {
    border-radius: 10px;
    max-height: 200px;
    max-width: 200px;
}